@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get colors from theme
  $color-config: mat.get-color-config($theme);

  // Palette colors
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $foreground: map.get($color-config, foreground);
  $background: map.get($color-config, background);

  // Set colors from theme
  mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
    .mat-button-toggle-button {
      color: mat.get-color-from-palette($primary, 400);
      background-color: mat.get-color-from-palette($primary, 50);
    }
    .mat-button-toggle-checked {
      background-color: mat.get-color-from-palette($primary, 50);
      .mat-button-toggle-button {
        color: mat.get-color-from-palette($accent, 500);
        background-color: mat.get-color-from-palette($primary, 500);
      }
    }
  }

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
