@use 'mixins/mixins' as mixins;

// Texts
.text-truncate {
  @include mixins.text-truncate();
}
.text-nowrap {
  white-space: nowrap;
}
.line-normal {
  line-height: normal !important;
}
.decoration-none {
  text-decoration: none !important;
}
.line-12 {
  line-height: 12px !important;
}
.line-14 {
  line-height: 14px !important;
}
.line-16 {
  line-height: 16px !important;
}
.line-20 {
  line-height: 20px !important;
}
